@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
  font-family: "Wash Care Symbols M54";
  src: url("/fonts/Wash_Care_Symbols_M54/Wash_Care_Symbols_M54.eot?") format("eot"), url("/fonts/Wash_Care_Symbols_M54/Wash_Care_Symbols_M54.woff") format("woff"), url("/fonts/Wash_Care_Symbols_M54/Wash_Care_Symbols_M54.ttf") format("truetype"), url("/fonts/Wash_Care_Symbols_M54/Wash_Care_Symbols_M54.svg#WashCareSymbolsM54") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 23, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
body {
  background: #f8f8f8;
  color: #111;
  background-image: linear-gradient(50deg, rgba(145, 65, 255, 0.7) 0px, rgba(38, 248, 111, 0.7) 100%), url(/images/bubbles.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: "europa", sans-serif;
  font-size: 18pt;
  font-weight: 700;
  font-style: normal; }

/* line 40, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
#menu {
  float: right; }

/* line 43, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
#logo {
  float: left; }

/* line 47, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
header {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2; }
  /* line 53, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  header ul {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-right: -20px; }
    /* line 61, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
    header ul > li {
      display: inline-block; }
      /* line 64, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
      header ul > li > a {
        display: inline-block;
        padding: 22px;
        font-size: 12pt;
        line-height: 12pt;
        font-weight: 700;
        color: #fff;
        text-decoration: none; }
        /* line 72, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
        header ul > li > a:hover {
          color: #ddd;
          text-decoration: none;
          background: rgba(0, 0, 0, 0.5); }
  /* line 81, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  header #logo {
    position: relative;
    height: 60px;
    width: 140px; }
    /* line 85, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
    header #logo img {
      height: 30px;
      position: absolute;
      left: 0;
      top: 15px; }
    /* line 91, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
    header #logo span {
      position: absolute;
      right: 0;
      top: 16px;
      float: left;
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      color: #fff;
      display: inline-block; }

/* line 105, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
footer {
  background: #111;
  color: #fff; }
  /* line 109, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  footer a {
    font-weight: 700;
    color: #fff;
    text-decoration: none; }
    /* line 113, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
    footer a:hover {
      color: #ddd; }

/* line 118, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
main {
  padding-top: 60px; }
  /* line 121, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  main h1, main h2, main h3, main h4, main h5 {
    text-align: center;
    font-weight: 700; }
  /* line 126, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  main h1 {
    font-size: 4em; }
  /* line 129, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  main h2 {
    font-size: 3em; }
  /* line 132, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  main h3 {
    font-size: 2em; }
  /* line 135, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  main h4 {
    font-size: 1.5em; }

/* line 139, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
article {
  padding: 20px 0; }

/* line 142, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
.container-fluid {
  margin: 0;
  padding: 0; }
  /* line 145, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .container-fluid > .row {
    margin: 0; }
    /* line 147, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
    .container-fluid > .row > .col-md-12 {
      padding: 0; }

/* line 152, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
.block {
  padding: 50px 0;
  color: #fff; }
  /* line 155, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .block.white {
    background: #fff;
    color: #333; }
  /* line 159, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .block.black {
    background: #333;
    color: #fff; }

/* line 164, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
.btn {
  border-radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  border-width: 3px; }
  /* line 170, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .btn.btn-xl {
    font-size: 1em;
    padding: 10px 20px; }
  /* line 175, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .btn.btn-default {
    background: rgba(255, 255, 255, 0.5);
    border: none; }
  /* line 179, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .btn .fa {
    margin-left: 20px; }

/* line 183, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
.puff-shop {
  text-align: center; }
  /* line 185, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .puff-shop a {
    text-decoration: none; }
  /* line 188, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .puff-shop img {
    width: 200px; }
  /* line 191, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .puff-shop h4 {
    color: #888; }
  /* line 194, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .puff-shop p {
    color: #fff; }

/* line 199, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0; }
  /* line 204, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  ol li {
    position: relative;
    margin-left: 50px;
    margin-bottom: 10px; }
  /* line 210, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  ol li:before {
    position: absolute;
    left: -50px;
    top: 0;
    display: block;
    margin-bottom: 10px;
    content: counter(item) "  ";
    counter-increment: item;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    display: inline-block;
    background: #000;
    margin-right: 10px; }

/* line 229, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
.washing-symbol-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 20px;
  display: inline-block;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff; }
  /* line 241, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .washing-symbol-container .washing-symbol {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: "Wash Care Symbols M54";
    font-size: 128px;
    font-weight: 400;
    display: block; }
  /* line 251, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .washing-symbol-container .description {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    font-size: 12pt; }

/* line 260, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
.puff-quote {
  font-size: 12pt;
  font-weight: 400; }
  /* line 263, /Users/kodninja/Dropbox/tvattrad.v2.nu/css/main.scss */
  .puff-quote div.img {
    border-radius: 100px;
    border: 2px solid white;
    -webkit-box-shadow: 0 1px 7px 1px rgba(186, 186, 197, 0.75);
    -moz-box-shadow: 0 1px 7px 1px rgba(186, 186, 197, 0.75);
    box-shadow: 0 1px 7px 1px rgba(186, 186, 197, 0.75);
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    float: left;
    margin-right: 20px; }

/*# sourceMappingURL=main.css.map */
