@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
    font-family:"Wash Care Symbols M54";
    src: url("/fonts/Wash_Care_Symbols_M54/Wash_Care_Symbols_M54.eot?") format("eot"),
         url("/fonts/Wash_Care_Symbols_M54/Wash_Care_Symbols_M54.woff") format("woff"),
         url("/fonts/Wash_Care_Symbols_M54/Wash_Care_Symbols_M54.ttf") format("truetype"),
         url("/fonts/Wash_Care_Symbols_M54/Wash_Care_Symbols_M54.svg#WashCareSymbolsM54") format("svg");
    font-weight:normal;
    font-style:normal;
}


//@font-stack:'tk-europa', 'Lato', sans-serif;
@primary-color: #111;
@bg-color: #eee;

body {
    background-image: linear-gradient(50deg, rgba(145, 65, 255, 0.6) 0px, rgba(38, 248, 111, 0.6) 100%), url(images/bubbles.jpg);
    background-attachment: fixed;
    background-size: cover;

    font-family: "europa", sans-serif;
    font-style: normal;
    font-weight: 400;

    font-weight: 300;
    color: @primary-color;
}
a {
    color: #fff;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}
img {
    width:100%;
}
table {
    width:100%;
    background:#fff;
    color:#000;
    th,td {
        padding:10px 5px;
    }
}

article {
    column-count:2;
    -webkit-column-count:2;
    -moz-column-count: 2;
    & > div {
        //display: inline-block;
        -webkit-column-break-inside:avoid;
        -moz-column-break-inside:avoid;
        -o-column-break-inside:avoid;
        -ms-column-break-inside:avoid;
        column-break-inside:avoid;
    }
}
.washing-symbol-container {
    background:rgba(0,0,0,0.8);
    padding:20px;
    margin:20px;
    display: inline-block;
    width:100px;
    height:100px;
    position: relative;
    z-index: 1;
    .washing-symbol {
        font-family:"Wash Care Symbols M54";
        font-size: 64px;
        font-weight: 400;
        display: block;

    }
    .description {
        position: absolute;
        bottom:20px;
        left:20px;
        right:20px;
    }
}
hr {
    background-color: #fff;
    box-shadow: 2px 2px 0 #000;
    border:none;
    height:3px;
    width:75%;
}
.spacer10 {
    margin:5px;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-3d {
    text-shadow: 2px 2px 0px #000;
}
.text-bright {

}
.text-dark {
    color:#333;
    &.text-3d {
        text-shadow: 2px 2px 0px #fff;
    }
}

.hidden {
    display: none;
}
.puff {
    display:block;
    padding-top: 50px;
    padding-bottom: 50px;

    &.first {
        padding-top:190px;
        padding-bottom:160px;
    }

    h1 {
        font-size: 2em;
    }
    @media (min-width: 768px) {
        h1 {
            font-size: 6.5em;
        }
        h2 {
            font-size: 5.5em;
        }
        h3 {
            font-size: 4.5em;
        }
        h4 {
            font-size: 3.5em;
        }
        h5 {
            font-size: 2.5em;
        }
        p {
            font-size: 1.3em;
            font-weight: 700;
        }
    }

    &.transparent {
        color:#fff;
    }
    &.semi-transparent {
        color:#fff;
        background: rgba(0,0,0,0.5);
    }
    &.white {
        color:#000;
        background:#fff;
    }
    &.black {
        color:#fff;
        background:#333;
    }
}

.bullet {
    display: inline-block;
    width:24px;
    height:24px;
    background: #fff;
    color:#000;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 32px;
}

[class^="grid-"] {
    padding:20px;
}
header {
    background: rgba(0,0,0,0.7);
    margin-bottom: 20px;
    text-align: center;
    font-size:18px;
    z-index: 2;
    position: fixed;
    left:0;
    right:0;

    [class^="grid-"] {
        padding: 10px;
    }

    @media (min-width: 768px) {
        position: fixed;
        top:0;
        left:0;
        right:0;
        text-align: left;
    }

    a {
        font-weight: 700;
        color:#fff;
        text-decoration: none;
        &:hover {
            color:#ddd;
        }
    }
}
footer {
    background: #111;
    color:#fff;

    a {
        font-weight: 700;
        color:#fff;
        text-decoration: none;
        &:hover {
            color:#ddd;
        }
    }
}

.content {
    @media (min-width: 768px) {
        margin-top: 160px;
    }
}

#logo_container {
    position: relative;
    height:50px;
    #logo {
        height:30px;
        width:auto;
        position: relative;
    }
    #logo_text {
        font-size: 30px;
        position: relative;
        top:-5px;
    }
}


#menu {
    color:#fff;
    font-weight: 700;
    text-align: center;

    @media (min-width: 768px) {
        text-align: right;
        list-style: none;
        margin-top: 5px;
        & > li {
            display:inline-block;
            margin-left: 40px;
        }
    }
}
.footer-legal {
    color:#888;
    font-size: 0.8em;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.btn {
    display:inline-block;
    border-radius: 50px;
    text-decoration: none;

    &.btn-transparent {
        color:#fff;
        border:2px solid #fff;
    }

    &.btn-white {
        background:#fff;
        color:#000;

        &:hover {
            background: #eee;
        }
    }
    &.btn-black {
        background:#000;
        color:#fff;

        &:hover {
            background: #333;
        }
    }

    padding:10px 12px;
    font-size: 0.8em;

    &.btn-lg {
        text-transform: uppercase;
        padding:13px 25px;
        font-size: 1.2em;
        font-weight: 500;
    }
}
strong {
    font-weight: 500;
}
.adsbygoogle {
    display: block;
    width: 320px;
    height: 100px;
    @media (min-width:500px) {
        width: 468px;
        height: 60px;
    }
}
.puff-quote {
    div.img {

        border-radius: 100px;
        border: 2px solid white;
        -webkit-box-shadow: 0 1px 7px 1px rgba(186, 186, 197, .75);
        -moz-box-shadow: 0 1px 7px 1px rgba(186, 186, 197, .75);
        box-shadow: 0 1px 7px 1px rgba(186, 186, 197, .75);
        background-repeat: no-repeat;
        display: inline-block;
        width: 80px;
        height: 80px;

        background-position: center;
        background-size: cover;

        border-radius: 50px;
        float:left;
        margin-right: 20px;
    }
    div.map {
        background-image:url('/images/maps-icon.png');
        background-repeat: no-repeat;
        display: inline-block;
        width: 80px;
        height: 80px;

        background-position: center;
        background-size: cover;

        float:left;
        margin-right: 20px;
    }

    span.mapText {
        font-size:20pt;
        font-weight: 700;
        display:block;
        text-align: center;
    }

    p.mapText-secondary {
        margin:20px;
        font-size:14pt;
        font-weight: 700;
        display:block;
        text-align: center;
    }


    h1 {
        font-size: 1.4em;
    }
}

.puffAdsRight {
    background: #ddd;
}

#detergent_test_table {
    thead {
        th {
            img {
                width:100px;
            }
        }
    }
}
